
<hr>
<div align="center">
  <p>
    <small>
      Iz <i class="fa fa-heart" aria-hidden="true"></i> prema Internetu, akciju pokrenuo <a href="mailto:aleksandar@r3bl.me">Aleksandar Todorović</a>.
      <br/>
      Sajt je licenciran pod MIT licencom i njegov kod se može vidjeti <a href="https://github.com/aleksandar-todorovic/netneutralnost">ovdje</a>.
      Sav tekst na sajtu je objavljen pod <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 International</a> licencom.
    </small>
  </p>
</div>
