<span class="center">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" class="tag">
        <span class="term"><i class="fa fa-facebook-square"></i> Share</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ site.url }}?text=Podr%C5%BEavam%20net%20neutralnost?related=r3bl_%2C%20Kompjuteras%2C%20ShareDataLab" title="Share on Twitter" class="tag">
        <span class="term"><i class="fa fa-twitter-square"></i> Tweet</span>
    </a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" class="tag">
            <span class="term"><i class="fa fa-google-plus-square"></i> +1</span>
    </a>
</span>
<div style="clear:both"></div>
