---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <script>
                      var end = new Date('07/12/2017 00:0 AM');

                          var _second = 1000;
                          var _minute = _second * 60;
                          var _hour = _minute * 60;
                          var _day = _hour * 24;
                          var timer;

                          function showRemaining() {
                              var now = new Date();
                              var distance = end - now;
                              if (distance < 0) {

                                  clearInterval(timer);
                                  document.getElementById('countdown').innerHTML = 'EXPIRED!';

                                  return;
                              }
                              var days = Math.floor(distance / _day);
                              var hours = Math.floor((distance % _day) / _hour);
                              var minutes = Math.floor((distance % _hour) / _minute);
                              var seconds = Math.floor((distance % _minute) / _second);

                              document.getElementById('countdown').innerHTML = 'Akcija počinje za ';
                              document.getElementById('countdown').innerHTML += ('0' + days).slice(-2) + ' dana ';
                              document.getElementById('countdown').innerHTML += ('0' + hours).slice(-2) + ':';
                              document.getElementById('countdown').innerHTML += ('0' + minutes).slice(-2) + ':';
                              document.getElementById('countdown').innerHTML += ('0' + seconds).slice(-2);
                          }

                          timer = setInterval(showRemaining, 1000);
                      </script>
                    <h3 id="countdown"><h3>
                    <div class="entry-meta">
                      <hr>
                      <h4>Podijeli akciju:</h4>
                      {% include meta.html %}
                    </div>
                </div>
                {{ content }}
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
</body>
</html>
